@import "../../../assets/common-style";
.artical-detail {
  padding: 70px 0 30px 0;
  .container-center;
  .top {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid @border-color-base;
  }
  .md-content {
    padding-bottom: @padding-large;
    margin-bottom: @padding-large;
    border-bottom: 1px solid @border-color-base;
  }
}