@import "../../assets/common-style.less";
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  #root {
    height: 100%;
    #container-wrapper {
      height: 100%;
      #container {
        min-height: calc(100% - 80px);

      }

    }
  }
}
