@import "../../../assets/common-style.less";
#article {
  .banner {
    height: 700px;
    font-size: @font-size-title;
    color: @font-color-light;
    background-color: #110801;
    background-image: url("../../../assets/img/artical.jpg");
    .banner-inner {
      .container-center;
      text-align: center;
      line-height: 700px;
      font-size: 400px;
      span {
        text-shadow: 2px 2px 0px #1d0e01;
        margin-top: 30px;
      }
    }
  }

  .artical-inner {
    .container-center;
    margin: 50px auto;
    .article-item {
      margin-top: 40px;
      cursor: pointer;
      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: @padding-small;
        h2 {
          margin: 0;
          transition: all .3s ease-in;
        }
        .right {
          span:nth-child(1) {
            margin-right: @padding-base;
            color: @font-color-gray;
          }
        }
      }
      .brief {
        color: @font-color-gray;
        overflow: hidden;
        text-overflow:ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        width:100%;
        transition: all .3s ease-in;
      }
      &:hover {
        h2,.brief {
          color: @primary-color;
        }

      }
    }
  }

}